@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Righteous&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #14110E;
    font: 500 16px/28px 'Urbanist', Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}

ul li,
ol li {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    background-color: transparent;
    transition: .4s;
    cursor: pointer;
}

.btn-primary {
    padding: 20px 36px;
    font: 700 18px 'Inter', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: #C99E71;
}

.btn-primary:hover {
    background-color: #b1783b;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 75px;
}

.container-header {
    padding: 0 10px;

}

/* Header */
#header-section {
    padding: 32px 0;
    background-color: #1C1814;
}

.header,
.nav-main,
.nav-main__list,
.header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main {
    flex-grow: 1;
}

.nav-main__list {
    gap: 48px;
    font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
}

.nav-main__link_selected {
    color: #C99E71;
    font-weight: 700;
    cursor: default;
}

.nav-main__link:hover,
.header-action__search:hover,
.header-action__cart:hover {
    color: #C99E71;
}

.header__logo {
    width: 72px;
    height: 60px;
}

.header-action {
    gap: 50px;
    margin-left: 48px;
}

.header-action__search,
.header-action__cart {
    font-size: 30px;
}

/* Banner */
#banner-section {
    background: url(img/banner.jpg) 50% 0/cover no-repeat;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 147px 0 158px;
}

.banner-info {
    max-width: 530px;
}

.banner__header {
    font: 72px/94px 'Righteous', cursive;
}

.banner__text {
    margin: 32px 0 64px;
    font-size: 20px;
    line-height: 36px;
    opacity: 0.8;
    text-transform: capitalize;
}

.banner_btn {
    padding: 24px 40px;
}

.banner-video__btn {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    height: 110px;
    font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.banner-video__btn:hover {
    color: #C99E71
}

.banner-video__btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
    background: url(img/play.svg) 50%/14px 18px no-repeat;
    transform: translateX(-50%);

}